<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css">
    <script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
      	<script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
</head>
<body>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/home">Homepage</a>
        <a href="/drugname">Drug Name</a>
        <a href="/StateVsDeath">State vs Opioid Deaths</a>
        <a href="/StateVsPop">State vs Population</a>
        <a href="/heatmap">HeatMap</a>
        <a href="/feedback">Feedback</a>
        <a href="/aboutUs">About Us</a>
        <a href="/overdose">Overdoses</a>
    </div>

<!-- <h1> <%= data.length %> </h1> -->
<style>
#DrugOverdoseTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#DrugOverdoseTable td, #DrugOverdoseTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#DrugOverdoseTable tr:nth-child(even){background-color: #f2f2f2;}

#DrugOverdoseTable tr:hover {background-color: #ddd;}

#DrugOverdoseTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
<button style="float:right">  Add/Update </button>

<table id="DrugOverdoseTable">
        <thead>
          <tr>
            <th>State</th>
            <th>Population</th>
            <th>Deaths</th>
            <th>Abbrev</th>
            <th>Delete</th>
            
  
          </tr>
        </thead>
  
        <tbody>
          <% for(var i=0; i < data.length; i++) { %>
         <tr>
  
           <td><%= data[i].State %></td>
           <td><%= data[i].Population %></td>
           <td><%= data[i].Deaths %></td>
           <td><%= data[i].Abbrev %></td> 
           <td> <button id = <%= data[i].id %> onclick = "passID(this.id)"> Delete </button></td>
  
         </tr>
      <% } %>
        </tbody>
  
      </table>

<script>
  function passID(clickedID) {
   // alert(clickedID);
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "http://localhost:3000/"+clickedID+"/delete",
      "method": "DELETE",
      "headers": {
        "Cache-Control": "no-cache"
      }
    }

    $.ajax(settings).done(function (response) {
      alert(response);
      document.location.reload();
    });
  }
</script>

<!-- <script>
$( document ).ready(function() {
    console.log( "ready!" );
    var table = new Tabulator("#table", {
        layout:"fitDataFill",
        height:"311px",
        columns:[
        {title:"State", field:"name"},
        {title:"Population", field:"progress", align:"right", sorter:"number"},
        {title:"Deaths", field:"gender"},
        {title:"Abbrev", field:"rating", align:"center"},
        
        ],
    });
});
</script> -->
<div id="table"></div>
</body>
<script type="text/javascript" src="/routes/nav.js"></script>
</html>